{{#if isEditing}}
  <form class="weather-card-new-form" onsubmit={{action "submit"}}>
    <fieldset class="weather-card-new-fieldset">
      <label class="weather-card-new-label" for="weather-card-new-input">
        Enter city or zip code
      </label>
      <input type="text" class="weather-card-new-input" name="weather-card-new-input" placeholder="E.g., Paris or 90210" max-length="60" oninput={{action "locationChanged"}}>
      <div class="weather-card-new-input-error">
        {{inputError}}
      </div>
      <label class="weather-card-new-label" for="weather-card-new-country">
        Country
      </label>
      <select class="weather-card-new-select" onchange={{action "countryChanged"}} name="weather-card-new-country">
        <option value="">Select a country &hellip;</option>
        {{#each countries as |country|}}
          <option value="{{country.id}}">{{country.name}}</option>
        {{/each}}
      </select>
    </fieldset>
    <div class="weather-card-new-controls">
      <button class="weather-card-new-btn weather-card-new-submit" type="submit" disabled={{cannotSubmit}}>Submit</button>
      <button class="weather-card-new-btn weather-card-new-cancel" {{action "cancel"}}>Cancel</button>
    </div>
  </form>
{{else}}
  <div class="weather-card-new-empty" {{action "add"}}>
    <span class="weather-card-new-placeholder">+</span>
  </div>
{{/if}}
